<h1>Welcome to the Director/Movie Database</h1>

<ul>
    <li><a href="/directors">Director Index</a></li>
    <li><a href="/directors/new">New Director</a></li>
    <li><a href="/movies">Movie Index</a></li>
    <li><a href="/movies/new">New Movie</a></li>
</ul>